@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #f59e0b;
  --color-primary-dark: #d97706;
  --color-secondary: #10b981;
  --color-accent: #ef4444;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
